* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
}

.container {
  /* max-width: 1080px; */
  padding: 2rem 4rem;
  margin: 0 auto;
}

.logo {
  font-weight: 500;
  font-family: "Inter", sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1rem;
}

.search-bar {
  width: 25rem;
  border-radius: 10px;
  height: 2rem;
  padding: 1rem;
  box-shadow: none;
  border: 2px solid #127fff;
  font-family: "Inter", sans-serif;
}

.search-bar:focus {
  outline: none; /* Remove default focus outline */
  border: 2px solid #127fff; /* Change border color when focused */
  /* Add any additional styling specific to the focused state if needed */
}

.srch-btn {
  position: absolute;
  top: 6%;
  right: 0;
  background: var(
    --primary-gradient,
    linear-gradient(180deg, #127fff 0%, #0067ff 100%)
  );
  border: 0;
  border-radius: 8px;
  height: 2rem;
  width: 5rem;
  cursor: pointer;
  color: white;
  font-family: "Inter", sans-serif;
}

.postion {
  position: relative;
}

.icons {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.icons i {
  color: rgba(0, 0, 0, 0.528);
  font-size: 18px;
  cursor: pointer;
}

.header .icons div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header .icons div a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.528);
  font-size: 15px;
}

.header .icons div:hover i,
.header .icons div:hover a {
  color: #127fff;
}
.header-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.276);
  border-top: 1px solid rgba(0, 0, 0, 0.276);
}

.categories-1 ul {
  display: flex;
  gap: 2rem;
  list-style: none;
}

.categories-1 ul li:hover a {
  color: #127fff;
}

.info-1 ul {
  display: flex;
  gap: 2rem;
  list-style: none;
  align-items: center;
}

.info-1 ul li > div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.dropDownList {
  position: relative;
  cursor: pointer;
}

.dropDownList.showList ul {
  display: flex;
  flex-direction: column;
}

.dropDownList ul {
  display: none;
  position: absolute;
  bottom: -1;
  border-radius: 16px;
  background: rgba(18, 127, 255, 0.55);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  width: max-content;
  padding: 2rem 2rem;
}

.dropDownList ul li {
  border-bottom: 1px solid rgba(0, 0, 0, 0.222);
}

.categories-1 ul li ul.unique-list {
  display: flex;
  gap: 0;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.categories-1 ul li ul.unique-list li {
  display: flex;
  padding: 0rem 0.5rem;
}
.categories-1 ul li a {
  display: flex;
  gap: 2rem;
  list-style: none;
  text-decoration: none;
  color: black;
}

.imgIcon {
  height: 32px;
}

.container .sub-container-2 {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid rgba(0, 0, 0, 0.272);
  padding: 1rem 0rem;
}

.container .sub-container-2 .flexed-div .social-logos a {
  color: rgba(0, 0, 0, 0.528);
  text-decoration: none;
  font-size: 25px;
}

.container .sub-container-2 .flexed-div .social-logos {
  display: flex;
  gap: 0.8rem;
}

.container .sub-container-2 .flexed-div .sub-div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: flex-start;
}

.container .sub-container-2 .flexed-div .sub-div .store-info {
  max-width: 250px;
}

.container .sub-container-2 div ul {
  list-style: none;
  text-decoration: none;
}

.container .sub-container-2 .flexed-div .sub-div .logo-brand-store {
  color: #1281ff7d;
  font-size: 25px;
  font-weight: bold;
}

.container .sub-container-2 .flexed-div ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: flex-start;
}

.container .sub-container-2 .flexed-div .sec-header {
  font-size: 20px;
}

.container .sub-container-2 div ul li a {
  text-decoration: none;
  color: #8b96a5;
}

.container .sub-container-2 div ul li a:hover {
  text-decoration: underline;
}

.container .sub-container-2 .flexed-div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.container .sub-container-2 .flexed-div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.container .sub-container-2 .flexed-div .button-images img {
  width: 200px;
  height: 125px;
  cursor: pointer;
}

.sub-container {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding: 1rem 1rem;
  border: 1px solid black;
  border-radius: 15px;
  gap: 2rem;
}

.sub-container .uiArea {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.sub-container .uiArea .userArea {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: #e3f0ff;
  padding: 1rem 10px;
}

.sub-container .uiArea .userArea img {
  width: 65px;
}
.sub-container .uiArea .userArea .userinfo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sub-container .uiArea .userArea .login {
  background: var(
    --primary-gradient,
    linear-gradient(180deg, #127fff 0%, #0067ff 100%)
  );
  border-style: none;
  border-radius: 8px;
  color: white;
  padding: 0.5rem 0.5rem;
  cursor: pointer;
}

.sub-container .uiArea .userArea .joinus {
  background-color: white;
  border-style: none;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.221);
  padding: 0.5rem 0.5rem;
  text-decoration: none;
  cursor: pointer;
}

.sub-container .uiArea .userArea .joinus a {
  text-decoration: none;
  color: #127fff;
  font-size: 15px;
}
.sub-container .uiArea .userArea .login a {
  text-decoration: none;
  color: white;
  font-size: 15px;
}

.sub-container .uiArea .discounts {
  background-color: #f38332;
  font-size: 16px;
  padding: 16px;
  display: flex;
  align-items: center;
  border-radius: 8px;
  cursor: pointer;
  color: white;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.sub-container .uiArea .supplierPrefrence {
  background-color: #55bdc3;
  font-size: 16px;
  padding: 16px;
  display: flex;
  align-items: center;
  border-radius: 8px;

  cursor: pointer;
  color: white;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.sub-container .coursel {
  padding: 5rem;
  background-image: url("/Utilites/Image\ BG.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top right;
  width: 100%;
}

.sub-container .subCategories ul {
  list-style: none;
}

.sub-container .subCategories {
  width: 25%;
  max-width: 300px;
}

.sub-container .uiArea {
  width: 25%;
  max-width: 300px;
}
.sub-container .subCategories ul a {
  text-decoration: none;
  padding: 10px;
  width: 100%;
  display: block;
  color: black;
}

.sub-container .subCategories ul a.active {
  text-decoration: none;

  font-weight: bold;
  background-color: #e5f1ff;
}

.container-3 {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  border: 1px solid black;
  border-radius: 15px;
  padding: 1rem 1rem;
}
.container h3 {
  padding: 0rem 0rem 2rem 0rem;
  color: rgba(0, 0, 0, 0.389);
}

.countdown {
  display: flex;
  flex-direction: column;
}

.subCountDown {
  display: flex;
  gap: 1rem;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #606060;
  color: white;
  font-size: 12px;
  width: 45px;
  height: 50px;
  justify-content: center;
  border-radius: 4px;
}

.card .number {
  font-size: 16px;
}

.featuredProducts {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  padding-left: 5rem;
}

.featuredProducts .fp img {
  width: 170px;
  height: 140px;
}
.featuredProducts .fp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 179px;
  height: 235px;
  gap: 0.7rem;
}

.flex-container-2 {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.featuredProducts .fp .discountRate {
  color: red;
  background-color: rgba(255, 0, 0, 0.256);
  padding: 0.4rem;
  border-radius: 15px;
}

.grid-container {
  display: grid;
  gap: 1rem;
  grid-template-columns: 388px;
}

.grid-container .grid-item-1 {
  opacity: 0.8;
  background: linear-gradient(
      0deg,
      rgba(255, 232, 186, 0.4) 0%,
      rgba(255, 232, 186, 0.4) 100%
    ),
    url(/Utilites/section3.jpg),
    lightgray -0.026px -35.875px / 111.262% 116.216% no-repeat;
  padding: 3rem;
  background-repeat: no-repeat;
  background-size: cover;
}
.grid-item {
  border: 1px solid rgba(0, 0, 0, 0.176);
}
.flex-container {
  display: flex;
  gap: 1rem;
}

.grid-container-2 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto auto;
  width: 1240px;
}
.grid-container-2 .grid-item-2 .imgProducts img {
  width: 150px;
  height: 150px;
}

.grid-container-2 .grid-item-2 {
  padding: 1rem;
  display: flex;
  max-height: 200px;
}

.grid-container-2 .grid-item-2 .productsInformation {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.grid-container-2 .grid-item-2 .productsInformation .price-info {
  color: rgba(0, 0, 0, 0.32);
}

.grid-container .grid-item-3 {
  opacity: 0.8;
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.3) 0%,
      rgba(255, 255, 255, 0.3) 100%
    ),
    url(/Utilites/Section2.png), lightgray 50% / cover no-repeat;

  padding: 3rem;
  background-repeat: no-repeat;
  background-size: auto;
  background-position: right top;
  width: 100%;
}

.container .bg-color {
  background: linear-gradient(
      95deg,
      #2c7cf1 7.19%,
      rgba(0, 209, 255, 0.5) 89.49%
    ),
    url(/Utilites/Storage-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: auto;
  padding: 3.5rem 3rem;
  display: flex;
  justify-content: space-between;
  border-radius: 15px;
}

.container .bg-color .part-right {
  background-color: white;
  border-radius: 8px;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  gap: 1.25rem;
}

.container .bg-color .part-right {
  background-color: white;
  border-radius: 8px;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  gap: 1.25rem;
}

.container .bg-color .part-right textarea,
select {
  border: 1px solid rgba(0, 0, 0, 0.313);
  padding: 0.5rem 0.3rem;
  border-radius: 5px;
  width: 100%;
  resize: none;
}

.container .bg-color .part-right #question:focus {
  outline: none;
}

.container .bg-color .part-right .question-selector {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.container .bg-color .part-right .submit-btn {
  background: var(
    --primary-gradient,
    linear-gradient(180deg, #127fff 0%, #0067ff 100%)
  );
  border-style: none;
  border-radius: 5px;
  color: white;
  padding: 0.5rem 0.5rem;
  cursor: pointer;
  padding: 0.4rem 2rem;
  font-size: 16px;
}

#headerLogout {
  display: None;
}
.hiddenIcons {
  display: none;
}

#headerLogout {
  border: 0;
  border-radius: 8px;
  height: 2rem;
  width: 5rem;
  cursor: pointer;
  color: white;
  font-family: "Inter", sans-serif;
  background: var(
    --primary-gradient,
    linear-gradient(180deg, #ff6347 0%, #ff0000 100%)
  );
}

.header .logo img {
  height: 40px;
}

.products {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.full-sec .products .product-card-1 {
  border: 1px solid rgba(128, 128, 128, 0.399);
  border-radius: 10px;
  display: flex;
  align-items: center;
  width: 650px;
  height: 550px;
}
.products .product-card-1 .product-info-1 {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1.3rem;
}

.products .product-card-1 .product-info-1 #price {
  font-weight: 700;
}

.products .product-card-1 .product-info-1 #shipping {
  color: #00b517;
}

.products .product-card-1 .product-info-1 a {
  text-decoration: none;
  color: #0d6efd;
}

.products .product-card-1 .product-info-1 button {
  background: linear-gradient(180deg, #127fff 0%, #0067ff 100%);
  border-style: none;
  border-radius: 5px;
  color: white;
  padding: 0.3rem;
  cursor: pointer;
}

.products .product-card-1 .product-info-1 .cart-items {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.products .product-card-1 .product-info-1 a:hover {
  color: grey;
}

.products .product-card-1 img {
  width: 225px;
  height: 225px;
  padding: 0.5rem 0.3rem;
}

.cart-items i {
  color: red;
  border-radius: 3px;
  padding: 0.3rem;
  cursor: pointer;
}

.cart-items .added {
  display: none;
}

.cart-items button {
  color: red;
  border-radius: 3px;
  padding: 0.3rem;
  cursor: pointer;
}

#headerLogout {
  display: None;
}
.hiddenIcons {
  display: none;
}

#headerLogout {
  border: 0;
  border-radius: 8px;
  height: 2rem;
  width: 5rem;
  cursor: pointer;
  color: white;
  font-family: "Inter", sans-serif;
  background: var(
    --primary-gradient,
    linear-gradient(180deg, #ff6347 0%, #ff0000 100%)
  );
}

.header .logo img {
  height: 40px;
}

.errorShow {
  height: 770px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: rgba(128, 128, 128, 0.562);
}

.errorShow i {
  font-size: 190px;
}

.productCard-1 {
  display: flex;
  border: 1px solid black;
  flex-direction: column;
  max-width: 300px;
  justify-content: center;
  align-items: center;
  padding: 0.3rem;
  border-radius: 15px;
  gap: 1rem;
}

.productCard-1 img {
  width: 150px;
  height: 150px;
}

.prod-information {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.remove {
  background: var(
    --primary-gradient,
    linear-gradient(180deg, #ff6347 0%, #ff0000 100%)
  );
  border-style: none;
  padding: 0.2rem 0.4rem;
  cursor: pointer;
  border-radius: 7px;
  color: white;
}

.Aprove {
  background: var(
    --primary-gradient,
    linear-gradient(180deg, #127fff 0%, #0067ff 100%)
  );
  border-style: none;
  padding: 0.2rem 0.4rem;
  cursor: pointer;
  border-radius: 7px;
  color: white;
}

.crud button {
  background-color: #00b517;
  border-style: none;
  padding: 0.5rem;
  border-radius: 6px;

  cursor: pointer;
}

.crud {
  padding-top: 1rem;
  display: flex;
  gap: 1.5rem;
}

.crud button a {
  text-decoration: none;
  color: white;
}

.crud button a:visited {
  color: white; /* Change this color to the desired visited link color */
}
