* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
}

.container {
  /* max-width: 1080px; */
  padding: 2rem 4rem;
  margin: 0 auto;
}

.logo {
  font-weight: 500;
  font-family: "Inter", sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1rem;
}

.search-bar {
  width: 25rem;
  border-radius: 10px;
  height: 2rem;
  padding: 1rem;
  box-shadow: none;
  border: 2px solid #127fff;
  font-family: "Inter", sans-serif;
}

.search-bar:focus {
  outline: none; /* Remove default focus outline */
  border: 2px solid #127fff; /* Change border color when focused */
  /* Add any additional styling specific to the focused state if needed */
}

.srch-btn {
  position: absolute;
  top: 6%;
  right: 0;
  background: var(
    --primary-gradient,
    linear-gradient(180deg, #127fff 0%, #0067ff 100%)
  );
  border: 0;
  border-radius: 8px;
  height: 2rem;
  width: 5rem;
  cursor: pointer;
  color: white;
  font-family: "Inter", sans-serif;
}

.postion {
  position: relative;
}

.icons {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.icons i {
  color: rgba(0, 0, 0, 0.528);
  font-size: 18px;
  cursor: pointer;
}
.header .icons div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header .icons div a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.528);
  font-size: 15px;
}
.header .icons div:hover i,
.header .icons div:hover a {
  color: #127fff;
}
.header-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.276);
  border-top: 1px solid rgba(0, 0, 0, 0.276);
}
.categories-1 ul {
  display: flex;
  gap: 2rem;
  list-style: none;
}
.categories-1 ul li:hover a {
  color: #127fff;
}
.info-1 ul {
  display: flex;
  gap: 2rem;
  list-style: none;
  align-items: center;
}
.info-1 ul li > div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.dropDownList {
  position: relative;
  cursor: pointer;
}
.dropDownList.showList ul {
  display: flex;
  flex-direction: column;
}
.dropDownList ul {
  display: none;
  position: absolute;
  bottom: -1;
  border-radius: 16px;
  background: rgba(18, 127, 255, 0.55);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  width: max-content;
  padding: 2rem 2rem;
}
.dropDownList ul li {
  border-bottom: 1px solid rgba(0, 0, 0, 0.222);
}
.categories-1 ul li ul.unique-list {
  display: flex;
  gap: 0;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.categories-1 ul li ul.unique-list li {
  display: flex;
  padding: 0rem 0.5rem;
}
.categories-1 ul li a {
  display: flex;
  gap: 2rem;
  list-style: none;
  text-decoration: none;
  color: black;
}
.imgIcon {
  height: 32px;
}
.container .sub-container-2 {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid rgba(0, 0, 0, 0.272);
  padding: 1rem 0rem;
}
.container .sub-container-2 .flexed-div .social-logos a {
  color: rgba(0, 0, 0, 0.528);
  text-decoration: none;
  font-size: 25px;
}
.container .sub-container-2 .flexed-div .social-logos {
  display: flex;
  gap: 0.8rem;
}
.container .sub-container-2 .flexed-div .sub-div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: flex-start;
}
.container .sub-container-2 .flexed-div .sub-div .store-info {
  max-width: 250px;
}
.container .sub-container-2 div ul {
  list-style: none;
  text-decoration: none;
}
.container .sub-container-2 .flexed-div .sub-div .logo-brand-store {
  color: #1281ff7d;
  font-size: 25px;
  font-weight: bold;
}
.container .sub-container-2 .flexed-div ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: flex-start;
}
.container .sub-container-2 .flexed-div .sec-header {
  font-size: 20px;
}
.container .sub-container-2 div ul li a {
  text-decoration: none;
  color: #8b96a5;
}
.container .sub-container-2 div ul li a:hover {
  text-decoration: underline;
}
.container .sub-container-2 .flexed-div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.container .sub-container-2 .flexed-div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}
.container .sub-container-2 .flexed-div .button-images img {
  width: 200px;
  height: 125px;
  cursor: pointer;
}

